<!-- To launch rostful with turtlesim in bare ROS setup -->
<launch>
  <node pkg="turtlesim" name="turtlesim" type="turtlesim_node"/>

  <include file="$(find rostful)/launch/rostful.launch">
    <arg name="topics" value="['/turtle1/pose','/turtle1/cmd_vel']" />
    <arg name="services" value="['/clear','/reset','/kill','/spawn','/turtle1/set_pen', '/turtle1/teleport_absolute','/turtle1/teleport_relative']" />
  </include>

</launch>

